<div class="nav-bar-container">
  <ul class="nav-bar">
    <li class="nav-bar__list">
      {{#if session.isAuthenticated}}
{{!--         {{#link-to 'protected'}}Protected{{/link-to}} --}}
        <button {{action 'invalidateSession'}} {{bind-attr class='navbar__link'}}>Logout</button>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </li>
  </ul>
</div>
