<nav class="navbar navbar-light bg-faded">
  {{link-to 'Graph Next Analytics' 'application' class="navbar-brand"}}
  <div class="pull-xs-right">
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          {{#link-to 'protected' class="nav-link"}}Protected{{/link-to}}
        </li>
        <li class="nav-item">
          <button {{action 'invalidateSession'}} class="nav-link">Logout</button>
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to 'login' class="nav-link"}}Login{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
