<div class="list-group">
  {{#link-to 'cards.all' class="list-group-item"}}Cards{{/link-to}}
  {{#link-to 'users.all' class="list-group-item"}}Users{{/link-to}}
  <a href="#" class="list-group-item">Team</a>
  <a href="#" class="list-group-item">Analytics</a>
</div>
