<div class="list-group">
  <a href="#" class="list-group-item">Ideas</a>
  <a href="#" class="list-group-item">Team</a>
  <a href="#" class="list-group-item">Analytics</a>
  {{#link-to 'users.all' class="list-group-item"}}Users{{/link-to}}
</div>
