body {
  font-size: 14px;
  font-weight: normal;
}

/* ==========================================================================
   layouts
   ========================================================================== */
.l-left-container {
  height: 100vh;
  border-right: 1px solid #e5e5e5;
  padding: 0;
}

.l-main-container {
  padding: 0;
}

.l-cards-container {
  padding: 15px 0;
}
