/* ==========================================================================
   general
   ========================================================================== */
body {
  font-weight: normal;
  overflow: hidden;
  background-color: $white;
}

/* ==========================================================================
   layouts
   ========================================================================== */
.l-left-container {
  padding: 0;
  border-right: 1px solid $border-color;
  height: 100vh;
}

.l-main-container {
  padding: 0;
}

.l-cards-container {
  background-color: $grey-light;
  overflow-y: auto;
  padding: 15px 0;
  min-height: calc(100vh - 55px - 60px);
  height: calc(100vh - 55px - 60px);
}

/* ==========================================================================
   modules
   ========================================================================== */
a {
  color: $brand-color-1;

  &:hover {
    color: $grey-dark;
    text-decoration: none;
  }
}

input {
  height: 50px;
  font-weight: $fw-200;
  outline: none;
}

textarea {
  font-weight: $fw-200;
  outline: none;
}

.m-page {
  height: 50px;
  padding: 15px 0 30px 15px;
  display: flex;
  align-items: center;

  &__heading {
    margin: 0;
  }
}

.m-card-container__link {
  color: $grey-dark;

  .c-card {
    &:hover {
      background-color: $grey-light;
    }

    &__header {
      height: 50px;
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__block {
      height: 100px;
    }

    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.m-img-responsive {
  width: 100%;
}

.m-application-loader {
  &__loader {
    display: flex;
    height: calc(100vh - 55px);
    justify-content: center;
    align-items: center;
  }
}

.m-ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;

  span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #1FB6FF;
    background: linear-gradient(#1FB6FF 0%, #1FB6FF 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 100%;
      z-index: -1;
      border-left: 3px solid #1FB6FF;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #1FB6FF;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid #1FB6FF;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #1FB6FF;
    }
  }
}

/* ==========================================================================
   media-queries
   ========================================================================== */
@media screen and (max-width: 768px) {
  .l-left-container {
    height: auto;
    border-right: 0;
  }

  .l-cards-container {
    overflow-y: hidden;
  }

  body {
    overflow-y: auto;
  }
}

/* ==========================================================================
   vendor
   ========================================================================== */
.ember-power-select-trigger.ember-basic-dropdown-trigger {
    height: 50px;
    font-weight: 200;
    display: flex;
    align-items: center;
    outline: none;
}

.ember-power-select {
  width: 100%;
  align-self: center;
}
