.l-left-container {
  padding: 0;
  height: 100vh;
  background-color: $brand-color-2;
  position: fixed;
  width: 16.66667%;
  min-width: 65px;
}

.l-main-container {
  padding: 0;
  margin-left: 16.66667%;
  background-color: $grey-2;
}

.l-cards-container {
  background-color: $grey-1;
  overflow-y: auto;
  height: calc(100vh - 60px - 70px);
  margin: 15px;
  border: 1px solid $border-color;
  padding: 15px 0;
  border-radius: 4px;
}

.l-title-container {
  background: $white;
  padding: 10px 5px;
  border-bottom: 1px solid $border-color;
  margin: -15px 0 15px;
  display: flex;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.l-pull-right {
  text-align: right;
  float: right;
}

/* ==========================================================================
   media-queries
   ========================================================================== */
@media screen and (max-width: 390px) {
  .l-main-container {
    margin-left: 65px;
  }
}
