.l-left-container {
  padding: 0;
  height: 100vh;
}

.l-main-container {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 0;
}

.l-cards-container {
  background-color: $grey-light;
  overflow-y: auto;
  min-height: calc(100vh - 55px);
  margin: 15px;
  border: 1px solid $border-color;
  padding: 15px 0;
}

.l-action-container {
  background: $white;
  padding: 10px 5px;
  border-bottom: 1px solid $border-color;
  margin: -15px 0 15px;
}

.l-pull-right {
  text-align: right;
  float: right;
}

@media screen and (max-width: 768px) {
  .l-left-container {
    height: auto;
    border-right: 0;
  }

  .l-cards-container {
    overflow-y: hidden;
  }
}
