/* ==========================================================================
   brand colors
   ========================================================================== */
$brand-color-1: #1fb6ff;
$brand-color-2: #2b333e;

/* ==========================================================================
   normal colors
   ========================================================================== */
$white: #fff;
$black: #000;
$red: #d9534f;
$green: #13ce66;

$grey-light: #f9fafc;
$grey: #8492a6;
$grey-dark: #222933;

/* ==========================================================================
   utility colors
   ========================================================================== */
$border-color: #e5e5e5;

/* ==========================================================================
   font-weight
   ========================================================================== */
$fw-200: 200;

/* ==========================================================================
   font-size
   ========================================================================== */
$base-font-size: 12px;

