<div class="col-md-6">
  <div class="card text-xs-center c-card">
    <div class="card-header c-card__header">
      User
    </div>
    <div class="card-block c-card__block">
      <h4 class="card-title c-card__title">
        {{#link-to 'user.user' user}}
          {{user.name}}
        {{/link-to}}
      </h4>
    </div>
    <div class="card-footer text-muted c-card__footer">
      {{user.email}}
    </div>
  </div>
</div>
