.c-card {
  border-radius: 4px;
  border: 0;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .03);

  &__header,
  &__footer {
    background-color: $white;
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

 .list-group-item {
  border: 0;
  border-top: 1px solid #ddd;

  &:first-child {
    border: 0;
  }
 }

  &-edit__icon {
    height: 100px;
    width: 100%;
  }

  &__description {
    white-space: pre-line;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.l-cards-container {
  .c-card {
    margin-bottom: 20px;
  }
}
