.c-card {
  &__header,
  &__footer {
    background-color: $white;
  }

  &__description {
    white-space: pre-line;
 }

 .list-group-item {
  border: 0;
  border-top: 1px solid #ddd;

  &:first-child {
    border: 0;
  }
 }
}
