.c-landing-page {
  &__header {
    &--jumbotron {
      height: calc(100vh - 55px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &::after {
        content: "";
        background: url('/assets/images/landing-page-background.jpg');
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__hero-btn {
    background-color: $brand-color-1;
    color: $white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 4px;
    width: 400px;
    margin-top: 50px;
    text-transform: capitalize;

    &:hover {
      color: $white;
    }
  }
}
