.c-side-bar {
  padding: 15px 0;

  &__list-item {
    background-color: $white;
    border: 0;
    border-radius: 0;
    border-left: 5px solid $white;
    padding: 10px 10px 10px 20px;

    &.active {
      background-color: $grey-light;
      color: $black;
      border-left: 5px solid $brand-color-1;

      &:hover {
        background-color: $grey-light;
        color: $black;
      }
    }

    &:hover {
      background-color: $grey-light;
      border-left: 5px solid $brand-color-1;
    }

    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
  }
}

/* ==========================================================================
   override bootstrap class
   ========================================================================== */
a.list-group-item:hover {
  background-color: $grey-light;
}
