.c-side-bar {
  padding: 15px 0;

  &__list-item {
    background-color: $brand-color-2;
    border: 0;
    border-radius: 0;
    border-left: 3px solid $brand-color-2;
    padding: 10px 10px 10px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey-light;

    &.active {
      background-color: $grey-dark;
      color: $white;
      border-left: 3px solid $brand-color-1;

      &:hover {
        background-color: $grey-dark;
        color: $white;
      }
    }

    &:hover {
      background-color: $grey-dark;
      color: $white;
      border-left: 3px solid $brand-color-1;
    }

    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
  }
}
