<nav class="navbar navbar-light c-nav-bar">
  {{link-to 'Home' 'application' class="navbar-brand"}}
  <div class="pull-xs-right">
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
        <li class="nav-item c-nav-bar__list">
          {{#link-to 'user.user' session.data.authenticated.id class="nav-link c-nav-bar__link"}}
            {{session.data.authenticated.name}}
          {{/link-to}}
        </li>
        <li class="nav-item c-nav-bar__list">
          <a {{action 'invalidateSession'}} class="nav-link c-nav-bar__link c-nav-bar__link--sign-out">Sign Out</a>
        </li>
      {{else}}
        <li class="nav-item c-nav-bar__list">
          {{#link-to 'signin' class="nav-link c-nav-bar__link c-nav-bar__link--sign-in"}}Sign In{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
