<nav class="navbar navbar-light bg-faded">
  {{link-to 'Home' 'application' class="navbar-brand"}}
  <div class="pull-xs-right">
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          {{#link-to 'dashboard' class="nav-link"}}Dashboard{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'users.all' class="nav-link"}}Users{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'cards.all' class="nav-link"}}Cards{{/link-to}}
        </li>
        <li class="nav-item">
          <a class="nav-link">{{session.data.authenticated.name}}</a>
        </li>
        <li class="nav-item">
          <a {{action 'invalidateSession'}} class="nav-link">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to 'signin' class="nav-link"}}Sign In{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
