<ul class="nav nav-pills c-secondary-nav-bar">
  <li class="nav-item c-secondary-nav-bar__nav-item">
    {{#link-to 'card.new' class="nav-link c-secondary-nav-bar__nav-link"}}Add a Card{{/link-to}}
  </li>
  <li class="nav-item c-secondary-nav-bar__nav-item">
    {{#link-to 'project.new' class="nav-link c-secondary-nav-bar__nav-link"}}Add a Project{{/link-to}}
  </li>
  <li class="nav-item c-secondary-nav-bar__nav-item">
    <a class="nav-link c-secondary-nav-bar__nav-link" href="#">Create a Team</a>
  </li>
</ul>
