<div class="list-group c-side-bar">
  {{#link-to 'cards' class="list-group-item c-side-bar__list-item"}}Cards{{/link-to}}
  {{#link-to 'users' class="list-group-item c-side-bar__list-item"}}Users{{/link-to}}
  <a href="#" class="list-group-item c-side-bar__list-item">Team</a>
  <a href="#" class="list-group-item c-side-bar__list-item">Analytics</a>
</div>
