<div class="list-group c-side-bar">
  {{#link-to 'cards' class="list-group-item c-side-bar__list-item"}}
    <img src="/assets/fonts/credit-card.svg" class="c-side-bar__icon" alt="Cards" /> Cards
  {{/link-to}}
  {{#link-to 'users' class="list-group-item c-side-bar__list-item"}}
    <img src="/assets/fonts/avatar.svg" class="c-side-bar__icon" alt="Users" /> Users
  {{/link-to}}
  {{#link-to 'projects' class="list-group-item c-side-bar__list-item"}}
    <img src="/assets/fonts/folder.svg" class="c-side-bar__icon" alt="Project" /> Projects
  {{/link-to}}
  {{#link-to 'teams' class="list-group-item c-side-bar__list-item"}}
    <img src="/assets/fonts/user-list.svg" class="c-side-bar__icon" alt="Teams" /> Teams
  {{/link-to}}
  <a href="#" class="list-group-item c-side-bar__list-item">
    <img src="/assets/fonts/insight.svg" class="c-side-bar__icon" alt="Dashboard" /> Dashboard
  </a>
</div>
