<div class="col-md-6">
  <div class="card text-xs-center c-card">
    <div class="card-header c-card__header">
      Card
    </div>
    <div class="card-block c-card__block">
      <h4 class="card-title c-card__title">
        {{#link-to 'card.card' card}}
          {{card.title}}
        {{/link-to}}
      </h4>
    </div>
    <div class="card-footer text-muted c-card__footer">
      {{card.description}}
    </div>
  </div>
</div>
