<div class="col-md-6">
  <div class="card c-card">
    <div class="card-header c-card__header">
      <h4 class="c-card__title">
        Edit User
      </h4>
    </div>
    <div class="card-block c-card__block">
      {{forms/edit-user-form model=model}}
    </div>
  </div>
</div>
