<div class="row">
  <div class="col-md-3">
    {{layout/side-bar}}
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          {{#link-to 'card.new' class="list-group-item"}}Add Card{{/link-to}}
          <a href="#" class="list-group-item">Edit Card</a>
          <a href="#" class="list-group-item">Delete Card</a>
        </div>
      </div>

      <div class="col-md-9">
      {{#each cards as |card|}}
        {{cards/cards-container card=card}}
      {{else}}
        Sorry, nobody is here.
      {{/each}}
      </div>
    </div>
  </div>
</div>
