<div class="row">
  <div class="col-md-2 l-left-container">
    {{layout/side-bar}}
  </div>
  <div class="col-md-10 l-main-container">
    {{layout/secondary-nav-bar}}
    <div class="l-cards-container">
      <div class="m-page">
        <img src="/assets/fonts/credit-card.svg" class="c-side-bar__icon" alt="Cards" />
        <h4 class="m-page__heading">Cards</h4>
      </div>
      {{#each cards as |card|}}
        {{cards/cards-container card=card}}
      {{else}}
        Sorry, nobody is here.
      {{/each}}
    </div>
  </div>
</div>
