<div class="row">
  <div class="col-md-12 text-xs-center c-landing-page__header c-landing-page__header--jumbotron">
    <h1>Simple, Elegant and Beautiful!</h1>
    {{#link-to 'signin' class="c-landing-page__hero-btn"}}Let's Get Started{{/link-to}}
  </div>
</div>
