<div class="row">
  <div class="col-md-2 l-left-container">
    {{layout/side-bar}}
  </div>
  <div class="col-md-10 l-main-container">
    {{layout/secondary-nav-bar}}
    <div class="l-cards-container">
      <div class="row l-title-container">
        <div class="col-md-12">
          <h2>
            <img src="/assets/fonts/credit-card.svg" class="c-side-bar__icon" alt="Projects" />
            Projects
          </h2>
        </div>
      </div>
      {{projects/projects-container projects=projects}}
    </div>
  </div>
</div>
