<div class="row">
  <div class="col-md-2 l-left-container">
    {{layout/side-bar}}
  </div>
  <div class="col-md-10 l-main-container">
    {{layout/secondary-nav-bar}}
    <div class="l-cards-container">
      <div class="m-page">
        <img src="/assets/fonts/user-list.svg" class="c-side-bar__icon" alt="Teams" />
        <h4 class="m-page__heading">Teams</h4>
      </div>
      {{#each teams as |team|}}
        {{teams/teams-container team=team}}
      {{else}}
        <div class="col-md-4">
          Sorry, nothing to show.
        </div>
      {{/each}}
    </div>
  </div>
</div>
