<div class="row">
  <div class="col-md-3">
    {{layout/side-bar}}
  </div>
  <div class="col-md-9">
    {{#each users as |user|}}
      {{users/users-container user=user}}
    {{else}}
      Sorry, nobody is here.
    {{/each}}
  </div>
</div>
